{{ define "content" }}
<style>
    .todoapp-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .todoapp-heading {
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .todo-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .todo-item-title {
        flex: 1;
        font-size: 18px;
        margin-right: 10px;
        word-break: break-all;
    }

    .todo-item-time {
        font-size: 14px;
        color: #888;
        margin-right: 10px;
    }

    .todo-item-buttons {
        display: flex;
        gap: 5px;
    }

    .btn-todo {
        width: 70px;
    }
</style>

<h1 class="todoapp-heading">Life Hack</h1>
<div class="todoapp-container">
    <h1 class="todoapp-heading">{{ .Name }} Task</h1>
    <a href="/todos/new" class="btn btn-primary">Add Todo!</a>
    <hr>
    {{ range .Todos }}
    <div class="todo-item">
        <div class="todo-item-title">{{ .Title }}</div>
        <div class="todo-item-time">{{ .FormattedCreatedAt }}</div>
        <div class="todo-item-buttons">
            <a href="/todos/edit/{{.ID}}" class="btn btn-primary btn-todo">Edit</a>
            <a href="/todos/delete/{{.ID}}" class="btn btn-primary btn-todo">Delete</a>
        </div>
    </div>
    <hr>
    {{ end }}
</div>
{{end}}