{{ define "content" }}
<style>
    .todoapp-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .todoapp-heading {
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .todo-item {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .todo-item-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .btn-todo {
        width: 70px;
        margin-right: 5px;
    }
</style>

<h1 class="todoapp-heading">Life Hack</h1>
<div class="todoapp-container">


    <h1 class="todoapp-heading">{{ .Name }} Task</h1>

    <a href="/todos/new" class="btn btn-primary">Add Todo!</a>
    <hr>

    {{ range .Todos }}
    <div class="todo-item">
        <div class="todo-item-title">{{ .Title }}</div>
        <a href="/todos/edit/{{.ID}}" class="btn btn-primary btn-todo">Edit</a>
        <a href="/todos/delete/{{.ID}}" class="btn btn-primary btn-todo">Delete</a>
    </div>
    <hr>
    {{ end }}
</div>

{{end}}